<%- include('partials/header') %>

<div class="row justify-content-center centered">
  <div class="col-md-6">
    <div class="card text-center border-light box">
      <div class="card-body">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="card-title">Password manager</h1>
        <hr>
        <p class="fs-4">Store and acess your passwords with security!</p>
        <a class="btn btn-outline-dark" href="/register" role="button">Register</a>
        <a class="btn btn-outline-dark" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
