<%- include('partials/header') %>

<div class="container mt-5" style="padding-bottom:200px">

  <div class="row justify-content-center centered">
    <div class="col-md-6 ">
      <div class="card box">
        <div class="card-body">
          <i class="fas fa-key fa-6x"></i>
          <h1 class="card-title" >Options</h1>
          <a href="/passwords" class="btn btn-danger" style="margin-top:2%">Cancel</a>

          <div class="text-start space">
            
          <div class="card boxx" style="margin-top:5%">
            <div class="card-body">
                <h4>Change Account Username</h4>
                <form name="userForm" action="/options/userChange" method="POST">
                    <div class="form-group">
                        <label for="userName">New Username</label>
                        <input id="username" type="text" class="form-control" name="username" value="<%=entry.username%>" required>
                    </div>
                    <button id="submit" type="submit" class="btn btn-danger" style="margin-top:20px">Submit</button>
                </form>
            </div>
          </div>


            <div class="card boxx" style="margin-top:5%;">
                <div class="card-body">
                    <h4>Change Account Password</h4>
                    <h6>Atention! All your saved passwords will be lost!</h6>
                    <form name="userForm" action="/options/passwordChange" method="POST">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input id="password" type="text" class="form-control" name="password" placeholder="We don't actually know your password" required>
                        </div>
                        <button id="submit" type="submit" class="btn btn-danger" style="margin-top:20px">Submit</button>
                    </form>
                </div>
              </div>

            <div class="card boxx" style="margin-top:5%;">
                <div class="card-body">
                    <h4 >Delete Account</h4>
                    <a href="/options/confirm" id="submit" type="submit" class="btn btn-danger" style="margin-top:20px">Delete</a>
                </div>
            </div>


          </div>

        </div>
      </div>
    </div>


  </div>
</div>

</body>
</html>
