body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.box {
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 540px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: '▲';
}

.table-sortable .th-sort-desc::after {
  content: '▼';
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
  font-size: 0.8rem;
  color: rgb(211, 63, 63);
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.input-addons {
  width:200px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  margin-bottom:10px;
  color:#333;
  background-color:#fff;
}

.checkboxSpacing {
  margin-top: 20px;
  margin-bottom: 20px;
}